@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
@import 'tailwindcss';


@theme{
    --font-jersey-25: 'Jersey 25', sans-serif;
    --color-snow: #f8f9fa;
    --color-platinum: #e9ecef;
    --color-iron: #495057;
    --color-shadow: #212529;
}

@layer base{
    html{
        @apply bg-shadow text-platinum font-jersey-25;
    }
    
    h1{
        @apply text-4xl  sm:text-5xl lg:text-7xl;
    }
    
    p{
        @apply text-xl sm:text-3xl lg:text-4xl;
    }
    
}

@keyframes fadeIn{

    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.fade-in{
    animation: fadeIn 1s ease-in-out;
}

.inter{
    @apply hover:scale-100 active:scale-100 sm:hover:scale-125 sm:active:scale-125 transition-all duration-300 ease-in-out;
}

.icon{
    @apply scale-125 sm:scale-150  text-platinum  hover:text-iron active:text-iron;
}